<body>
    <div class="d-flex" id="content-wrapper">
        <div id="content" class="bg-grey w-100">

            <section class="bg-light py-3">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 col-md-8">
                        <h2>Me! </h2>
                        <p class="lead text-muted">Información de Cuenta</p>
                        </div>
                        <div class="col-lg-3 col-md-4 d-flex">
                        <button class="btn btn-primary w-100 align-self-center" routerLink="/downloads">Report</button>
                        </div>
                    </div>
                </div>
            </section>
            <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
                <div class="container">
                <a class="navbar-brand" >MobyFinance</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto ps-5 mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/profile">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/setting">Setting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/statistics">Statistics</a>
                    </li>
            
                    <li class="nav-item">
                        
                    </li>
                    </ul>
                    <div class="d-flex">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-secondary px-3" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample">
                        <i class="bi bi-text-left"></i> 
                    </button>
                    </div>
                </div>
                </div>
            </nav>
            
            <!-- Sidebar -->
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">MobyFinance</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                <ul class="nav nav-pills flex-column mb-auto">
                    <li class="nav-item">
                    <a href="#" class="nav-link active" aria-current="page">
                        Home
                    </a>
                    </li>
                    <li>
                    <a href="#" class="nav-link link-dark">
                        Dashboard
                    </a>
                    </li>
                    <li>
                    <a routerLink="/setting" class="nav-link link-dark">
                        Setting
                    </a>
                    </li>
                    <li>
                    <a href="#" class="nav-link link-dark">
                        Quotes
                    </a>
                    </li>
                </ul>
                </div>
            </div>